<main>
  {{#with car}}
  <h1>Delete</h1>
  <div class="form">
    <form action='/delete/{{id}}' method="POST">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" value="{{name}}">
      <label for="name">Description</label>
      <textarea id="name" name="description">{{description}}</textarea>
      <label for="image">ImageUrl</label>
      <input type="text" id="image" name="imageUrl" value="{{imageUrl}}">
      <label for="price">Price</label>
      <input type="text" id="price" name="price" value="{{price}}">
      <input class="del" type="submit" value="Delete">
    </form>
  </div>
  {{/with}}
  <script type="module" src="/static/js/deleteCofirmation.js"></script>
</main>